.person {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
}

.person-container {
    display: flex;
    box-sizing: border-box;

    margin-right: -10px;
    margin-left: -10px;
}

@media(max-width: 960px) {
    .person-container {
        flex-direction: row-reverse;

        margin-right: 0;
        margin-left: 0;
    }
}

.person__column {
    display: block;
    box-sizing: border-box;

    max-width: 100%;
    min-width: 0;

    padding-right: 9px;
    padding-left: 9px;
}

.person__column--left {
    flex: 0 0 320px;
    width: 320px;
}

@media(max-width: 720px) {
    .person__column--left {
        display: none;
    }
}

@media(max-width: 760px) {
    .person__column--left {
        flex: 0 0 280px;
    }
}

.person-column-left__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    box-sizing: border-box;
}

.person-column-left-container__items {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 60px;
}

.person__photo {
    padding-top: 50px;
}

.person-photo__link {
    display: flex;
    justify-content: center;
}

.person-photo__image {
    width: 100%;
    height: 450px;

    object-fit: cover;

    transition: opacity .1s ease-out;

    border: 2px solid #fff;
    border-radius: 50px;
}

.person__delimiter {
    z-index: 0;
    flex: 0 0 30px;
    width: 30px;

    position: relative;
}

@media(max-width: 780px) {
    .person__delimiter {
        display: none;
    }
}

.person__delimiter::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1px;
    height: 100%;
    content: '';

    background: none;
}

.person__column--right {
    flex: 0 0 800px;
    width: 800px;
}

@media(max-width: 960px) {
    .person__column--right {
        flex: auto;
        width: auto;
    }
}

.person-column-right__container {
    display: flex;
    min-height: 100%;

    box-sizing: border-box;
}

.person-column-right-container__items {
    display: grid;
    grid-template-rows: min-content min-content auto;
    padding-bottom: 60px;

    grid-template-columns: repeat(20,20px);
    padding-top: 50px;
    grid-column-gap: 20px;
}

.person__header {
    grid-column: span 20;

    margin-bottom: 48px;
}

@media(max-width: 960px) {
    .person__header {
        margin-bottom: 0;
    }
}

.person-header-container {
    display: grid;

    grid-template-columns: repeat(20,20px);
    grid-column-gap: 20px;

    grid-column: 1/16;
}

.person-header__ru-name {
    margin: 0;
    font-size: 40px;
    line-height: normal;

    font-family: SansSerif,sans-serif;
    font-weight: 700;
    letter-spacing: -.5px;

    color: #fff;
}


.person__table {
    margin-bottom: 40px;
}

@media (max-width: 319px) {
    .person__table {
        grid-column: 1/8;
        padding-right: 2px;
    }
}

@media (min-width: 320px) {
    .person__table {
        grid-column: 1/9;
        padding-right: 2px;
    }
}

@media (min-width: 375px) {
    .person__table {
        grid-column: 1/11;
        padding-right: 4px;
    }
}

@media (min-width: 600px) {
    .person__table {
        grid-column: 1/13;
        padding-right: 4px;
    }
}

@media (min-width: 960px) {
    .person__table {
        grid-column: 1/12;
        padding-right: 6px;
    }
}

@media (min-width: 1200px) {
    .person__table {
        grid-column: 1/16;
        padding-right: 10px;
    }
}

@media (min-width: 1320px) {
    .person__table {
        grid-column: 1/16;
        padding-right: 14px;
    }
}

.person-table__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 0 0 9px;

    font-size: 22px;
    font-weight: 600;
    line-height: 28px;

    color: #fff;

    font-family: SansSerif,sans-serif;
}

.person-table__row {
    display: flex;
    align-items: baseline;

}

.person-table__row--medium {
    padding: 9px 0 8px;
    border-bottom: none;
}

.person-table-row__title {
    width: 160px;
    font-family: SansSerif,sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: rgba(255,255,255,.8);
}

.person-table-row__info {
    flex: 1;
    font-family: SansSerif,sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: rgba(255,255,255,.8);
}

.person__panel {
    grid-column: 16/21;

    grid-row: 2/4;
}

@media (max-width: 319px) {
    .person__panel {
        grid-column: 1/8;

        grid-row: 2/4;
    }
}

@media (min-width: 320px) {
    .person__panel {
        grid-column: 1/9;

        grid-row: 2/4;
    }
}

@media (min-width: 375px) {
    .person__panel {
        grid-column: 1/11;

        grid-row: 2/4;
    }
}

@media (min-width: 600px) {
    .person__panel {
        grid-column: 1/13;

        grid-row: 3/4;
    }
}

@media (min-width: 960px) {
    .person__panel {
        grid-column: 12/21;
        padding-left: 12px;

        grid-row: 2/4;
    }
}

@media (min-width: 1200px) {
    .person__panel {
        grid-column: 16/21;
        padding-left: 20px;

        grid-row: 2/4;
    }
}

@media (min-width: 1320px) {
    .person__panel {
        grid-column: 16/21;
        padding-left: 30px;

        grid-row: 2/4;
    }
}

.person-panel__films {
    margin-top: 45px;
}

.person-panel-films__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 15px;

    font-size: 15px;
    line-height: 20px;

    color: #fff;

    margin-top: 0;
    font-family: SansSerif,sans-serif;
    font-weight: 600;
}

.person-panel-films__items {
    margin-top: 0;
    margin-bottom: 12px;
    padding-left: 0;
}

.person-panel-films-item {
    margin-bottom: 7px;

    list-style: none;
    line-height: 15px;
}

.person-panel-films-item__link{
    font-family: SansSerif,sans-serif;
    font-size: 13px;
    text-decoration: none;
    word-break: break-word;

    color: #fff;
}

.person-panel-films-item__link:hover {
    color: #f19e07;
}

.person__genre {
    text-underline-offset: 4px;
    -webkit-text-decoration-color: rgba(139,136,146,.32);
    text-decoration-color: rgba(139,136,146,.32);
    color: inherit;
    white-space: nowrap;
    -webkit-transition: -webkit-text-decoration-color.2s;
    transition: -webkit-text-decoration-color.2s;
    -o-transition: text-decoration-color.2s;
    transition: text-decoration-color.2s,-webkit-text-decoration-color.2s
}

.person__genre:hover,
.person__genre:focus {
    -webkit-text-decoration-color: rgba(255,255,255,.56);
    text-decoration-color: rgba(255,255,255,.56)
}
