.input-field {
    margin-bottom: 5px;

    min-height: 55px;

    width: 100%;
}

.input-field__input {
    border: 2px solid transparent;
    border-radius: 8px;

    font-size: 16px;
    line-height: 24px;
    font-family: SansSerif,sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding-left: 14px;
    height: 50px;
}

.input-field__error-msg {
    height: 0;
    min-height: 0;
    transition: min-height.2s ease-in-out;

    font-size: 14px;
    line-height: 20px;
    font-family: SansSerif,sans-serif;
    width: 100%;
    overflow: hidden;
    margin-top: 2px;
    color: #ff0000;

    pointer-events: all;
}

.input-field__input--dark {
    color-scheme: dark;
    color: rgba(255,255,255,.96);
    caret-color: rgba(255,255,255,.96);
    background-color: rgba(139,136,146,.32);
}

.input-field__input--error {
    border: 2px solid red;
}

.input-field__error-msg--error {
    height: auto;
}

.input-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;

    gap: 10px;
    white-space: nowrap;
}
