<section class="series">
    <div>
        <section class="ts-series-header series__header series-header">
            <h2 class="series__title">Сезоны</h2>
        </section>
    </div>

    <div class="ts-series-cards">

    </div>
</section>
