<div class="dropdown" {{#if dataAction}} data-action="{{ dataAction }}" {{/if}}>
    <a class="dropdown__button" href="{{ href }}">
        <img class="dropdown-button__image" src="{{ avatar }}">
    </a>

    <div class="dropdown__content js-dropdown__content">
        <div class="dropdown-content__container">
            <div class="dropdown-content-container__items js-dropdown-content-container__items"></div>
        </div>
    </div>
</div>
