<div class="dropdown js-dropdown">
    <a class="dropdown__button">
        <img class="dropdown-button__image" src="/img/profile/profile.jpg">
    </a>

    <div class="dropdown__content">
        <div class="dropdown-content__container">
            <div class="dropdown-content-container__items js-dropdown-content-container__items"></div>
        </div>
    </div>
</div>
