<div class="{{ barClass }}">
    <div class="bar w-100">
        <div class="bar__full"></div>
        <div class="bar__load">
            <div class="bar-load__progress"></div>
        </div>
        <div class="bar__current"></div>
        <div id="bar__helper"></div>
        <div id="bar__current-circle"></div>
    </div>
</div>
