<ul class="genres__list">
    {{#each genres}}
        <li class="genres-list__item">
            <a href="/genres/{{ id }}" class="genres-list-item__link">
                <span class="genres-list-item__text">
                    {{ name }}
                </span>
            </a>
        </li>
    {{/each}}
</ul>
