<div class="modal__area js-modal__area">
    <div class="modal__close-btn-container">
        <div class="modal__close-btn" aria-label="Close Modal">
            <img class="modal__close-btn-image" src="/img/icons/close.svg" alt="Close image">
        </div>
    </div>
    <div class="modal__content">
        <div class="modal__header-container">
            <div class="modal__header">
                <h2 class="modal__title">{{ title }}</h2>
            </div>
        </div>
        <div class="modal__body-container">
            <div class="modal__body js-modal__body">
            </div>
        </div>
    </div>
</div>
