<!--<div class="root js-root">-->
<!--    <div class="header js-header"></div>-->
<!--    <div class="content js-content"></div>-->
<!--    <div class="footer js-footer"></div>-->
<!--    <div class="right-modal js-right-modal"></div>-->
<!--    <div class="modal modal--right js-modal--right"></div>-->
<!--</div>-->

<div class="root ts-root">
    <div class="alert ts-alert"></div>
    <div class="content bg_black">
        <div class="container">
            <div class="header ts-header"></div>
            <div class="main ts-main"></div>
            <div class="footer bg_black-clr_white ts-footer"></div>
        </div>
        <div class="modal ts-modal" tabindex="-1"></div>
    </div>
</div>
