<div class="root js-root">
    <div class="header js-header"></div>
    <div class="content js-content"></div>
    <div class="footer js-footer"></div>
    <div class="right-modal js-right-modal"></div>
    <div class="modal modal--right js-modal--right"></div>
</div>
