<div class="root ts-root">
    <div class="alert ts-alert"></div>
    <div class="content bg">
        <div class="container">
            <div class="header ts-header"></div>
            <div class="main ts-main"></div>
            <div class="footer bg_black-clr_white ts-footer"></div>
        </div>
        <div class="modal ts-modal" tabindex="-1"></div>
    </div>
</div>
