.root {
    height: 100%;
}

.alert {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 0;
    height: 2px;
    background: #5d0ef5;
    border-radius: 1px;
    transition: width 1.5s ease-out;
    transform: translatez(0);
    will-change: width,opacity;
    opacity: 0;
    box-shadow: #5d0ef5 1px 0 6px 1px;
}

.content {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    --current-header-height: 4.4em
}


/* Start header */

.header {
    font-family: SansSerif,sans-serif;
    font-size: 12px;
    line-height: 18px;
    position: sticky;
    z-index: 1030;
    top: 0;
    transition: transform.3s ease,-webkit-transform.3s ease
}

@media(min-width: 375px) {
    .header {
        font-size:13px;
        line-height: 19px
    }
}

@media(min-width: 600px) {
    .header {
        font-size:14px;
        line-height: 22px
    }
}

@media(min-width: 1320px) {
    .header {
        font-size:16px;
        line-height: 24px
    }
}

@media(min-width: 1720px) {
    .header {
        font-size:18px;
        line-height: 28px
    }
}

/* End header */


/* Start main */

.main {
    /*display: grid;*/
    /* TODO */
    display: block;
    padding: 20px 0
}

@media(min-width: 375px) {
    .main {
        padding:24px 0
    }
}

@media(min-width: 600px) {
    .main {
        padding:32px 0
    }
}

@media(min-width: 1320px) {
    .main {
        padding: 40px 0;
    }
}

/* End main */


/* Start footer */

.footer {
    padding-left: var(--grid-sides);
    padding-right: var(--grid-sides);
    position: relative;
    z-index: 1
}

@media(max-width: 319px) {
    .footer {
        --grid-sides:12px;
        --grid-spacing: 8px;
        --grid-columns: 8;
        --grid-card-count: 2;
        --grid-column-width: calc((100% - var(--grid-spacing)*var(--grid-columns))/var(--grid-columns))
    }
}

@media(min-width: 320px) {
    .footer {
        --grid-sides:12px;
        --grid-spacing: 8px;
        --grid-columns: 8;
        --grid-card-count: 2;
        --grid-column-width: calc((100% - var(--grid-spacing)*var(--grid-columns))/var(--grid-columns))
    }
}

@media(min-width: 375px) {
    .footer {
        --grid-sides:16px;
        --grid-spacing: 8px;
        --grid-columns: 8;
        --grid-card-count: 2
    }
}

@media(min-width: 600px) {
    .footer {
        --grid-sides:32px;
        --grid-spacing: 12px;
        --grid-columns: 12;
        --grid-card-count: 3
    }
}

@media(min-width: 960px) {
    .footer {
        --grid-sides:32px;
        --grid-spacing: 12px;
        --grid-columns: 12;
        --grid-card-count: 4
    }
}

@media(min-width: 1320px) {
    .footer {
        --grid-sides:72px;
        --grid-spacing: 16px;
        --grid-columns: 20;
        --grid-card-count: 5
    }
}

@media(min-width: 1720px) {
    .footer {
        --grid-sides:96px;
        --grid-spacing: 20px;
        --grid-columns: 20;
        --grid-card-count: 5
    }
}

@media(min-width: 1920px) {
    .footer {
        --grid-sides:96px;
        --grid-spacing: 20px;
        --grid-columns: 20;
        --grid-card-count: 5
    }
}

/* End footer */


/* Start modal */

.modal {
    position: fixed;
    z-index: 1080!important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    pointer-events: none;
}

@media(min-width: 960px) {
    .modal {
        left: 100%;
        transition: left 0.2s ease-in-out, backdrop-filter 0.2s;
    }
}

.modal_open {
    left: 0;

    pointer-events: all;
    -webkit-overflow-scrolling: touch
}

@media(min-width: 960px) {
    .modal_open {
        background-color: rgba(0, 0, 0, .8);
        backdrop-filter: blur(4px);
        opacity: 1
    }
}

/* End modal */
