.player {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* Устанавливаем соотношение сторон видео */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: bottom 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.player:hover .controls {
    bottom: 0;
    opacity: 1;
}

.controls__play,
.controls__stop {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.controls__play {
    margin-left: 10px;
}

.play__btn,
.stop__btn {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.controls__progress {
    display: inline-block;
    width: calc(100% - 360px);
    height: 40px;
    margin-left: 10px;
}

.progress {
    display: block;
    width: 100%;
    height: 2px;
    margin: 19px 0;
    background-color: #999;
}

.progress::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.controls__volume {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 5px;
    margin-left: 10px;
}

.volume__btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #fff;
    cursor: pointer;
}

.volume__progress {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    width: 55px;
    height: 2px;
    margin-top: -1px;
    background-color: #999;
}

.volume__progress::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.controls__time {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    line-height: 40px;
}
