<div class="wrapper">
    <div class="player">
        <video class="video" src="{{ videoURL }}"></video>
        <div class="controls">
            <div class="controls__play" data-action="play">
                <img src="/img/icons/play.svg" class="play__btn">
            </div>
            <div class="controls__stop" data-action="stop">
                <img src="/img/icons/stop.svg" class="stop__btn">
            </div>
            <div class="controls__progress" data-action="videoScroll">
                <input type="range" class="progress">
            </div>
            <div class="controls__volume">
                <img src="/img/icons/volume.svg" class="volume__btn" data-action="volumeScroll">
                <input type="range" class="volume__progress">
            </div>
            <div class="controls__time">00:00/00:00</div>
        </div>
    </div>
</div>
