<div class="genre">
    <div class="genre__content">
        <div>
            <h2 class="genre__content-header">{{ firstTitle }}</h2>
        </div>

<!--        <div class="selection-block">-->
<!--            <div class="selection_right">-->
<!--                <select class="selection js-selection">-->
<!--                    <option value="new">Новые</option>-->
<!--                    <option value="old">Старые</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->

        <div class="genre__content-main">
            <div class="grid__content js-content__item">

            </div>
        </div>
<!--        <div class="genre__content-button js-content-button">-->

<!--        </div>-->
    </div>
</div>