a {
    text-decoration: none;
}

.authModal.open .modalOverlay,
.authModal.open .modalWindow {
    opacity: 1;
    z-index: 1000;
}

.authModal.hide .modalOverlay,
.authModal.hide .modalWindow {
    opacity: 1;
    z-index: 1000;
}


.modalWindow, .modalOverlay {
    opacity: 0;
    z-index: -1;
}

.authModal.open .modalWindow {
    transform: translateX(0px);
}

.authModal.open .modalOverlay {
    background: rgba(0, 0, 0, .5);
}

.authModal.hide .modalWindow {
    transform: translateX(600px);
}

.authModal.hide .modalOverlay {
    background: rgba(0, 0, 0, 0);
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}

.modalWindow {
    width: 600px;
    background-color: #101011;
    margin-left: auto;
    margin-right: 0;
    height: 100%;
    transform: translateX(600px);
    transition: transform .2s ease-in;
}

.modalHeader {
    background-color: #1b1a1d;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;    
}

.modalHeaderFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.modalHeaderFlex h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: hsla(0,0%,100%,.96);
}

.closeBtn {
    color: hsla(0,0%,100%,.96);
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
}

.modalBody {
    height: 100%;
    background-color: #1b1a1d;
}

.modalBodyContent {
    height: 100%;
    padding: 20px 15px;
    background-color: #101011;
}

.modalBodyContent h3 {
    margin: 0 0 6px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: hsla(0,0%,100%,.96);
}

.modalBodyContent p {
    color: hsla(0,0%,100%,.78);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}

.modalBodyContent .emailInputField {
    margin-bottom: 12px;
    margin-top: 20px;
    box-sizing: border-box;
    min-height: 50px;
    position: relative;
}

.modalBodyContent .passwordInputField {
    margin-bottom: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    min-height: 50px;
    position: relative;
}


.auxiliaryTools {
    margin-bottom: 15px;
    color: hsla(0,0%,100%,.96);
}

.auxiliaryTools a {
    float: right;
}


.inputArea {
    box-sizing: border-box;
    background-color: rgba(139,136,146,.32);
    border: 2px solid transparent;
    color: hsla(0,0%,100%,.96);
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;
    height: 50px;
}

.modalBodyContent .submitAuth .submitRec .submitReg {
    margin-bottom: 25px;
}

.modalBody button {
    background: linear-gradient(26.57deg,#3c1a70,rgba(93,14,245,.83));
    opacity: .5;
    cursor: auto;
    width: 100%;
    justify-content: center;
    padding: 14px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: hsla(0,0%,100%,.96);
    position: relative;
}

.suggestRegistrarion {
    display: flex;
    justify-content: center;
}

