<div class="modal__area">
    <div class="modal__close-btn ts-modal__close-btn"></div>
    <div class="modal__content modal-content">
        <div class="modal-content__close-btn ts-modal-content__close-btn"></div>
        <div class="modal__header modal-header">
            <div class="modal-header__title">
                <h2 class="modal-header__text">{{ title }}</h2>
            </div>
        </div>
        <div class="modal__body modal-body">
            <div class="modal-body__container ts-modal-body__container">

            </div>
        </div>

    </div>
</div>
