<div class="modal__area">
    <div class="modal__close-btn-container js-modal__close-btn-container"></div>

    <div class="modal__content">
        <div class="modal__header-container">
            <div class="modal__header">
                <h2 class="modal__title">{{ title }}</h2>
            </div>
        </div>
        <div class="modal__body-container">
            <div class="modal__body js-modal__body">
            </div>
        </div>
    </div>
</div>
