.modal__area {
    position: static;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
}

/* Start modal close button */

.modal__close-btn {
    display: none;
}

@media (min-width: 960px) {
    .modal__close-btn {
        top: auto;
        display: block;
        margin-top: 12px;
        margin-right: 12px;
    }
}

/* End modal close button */

/* Start modal content */

.modal__content {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 90px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: #101011;
}

@media (min-width: 960px) {
    .modal__content {
        padding-bottom: 40px;
        width: 45%;
        min-width: 720px;
        min-height: 100vh;
        max-width: 900px;
    }
}

/* End modal content */

/* Start modal content close button */

.modal-content__close-btn {
    position: absolute;
    right: 15px;
    top: 4px;
    z-index: 1080;
    color: #000;
}

@media (min-width: 960px) {
    .modal-content__close-btn {
        display: none;
    }
}

/* End modal content close button */

/* Start modal header */

.modal__header {
    padding-right: 15px;
    padding-left: 15px;
    height: 48px;
    background-color: #fff;
}

@media (min-width: 960px) {
    .modal__header {
        margin-right: auto;
        margin-left: auto;
        padding: 10px 30px;
        height: 60px;
        max-width: 1114px;
    }
}

.modal-header {
    color: rgba(255, 255, 255, 0.96);
    background-color: #1b1a1d;
}

.modal-header__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-header__text {
    margin: 0;
    font-family: "SansSerif", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (min-width: 960px) {
    .modal-header__text {
        font-family: "SansSerif", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}

/* End modal header */

/* Start modal body */

@media (min-width: 960px) {
    .modal__body {
        padding-top: 40px;
        padding-right: 80px;
        padding-left: 80px;
    }
}

.modal-body {
    color: rgba(255, 255, 255, 0.96);
}

.modal-body__container {
    padding: 20px 15px;
    background: #1b1a1d;
}

@media (min-width: 960px) {
    .modal-body__container {
        border-radius: 8px;
        padding: 32px 40px;
        box-shadow: 0 1px 4px 0 #000;
    }
}

/* End modal body */
