<div class="header-container js-header-container">
    <div class="header-container__left js-header-container__left"></div>

    <div class="header-container__right js-header-container__right">
        <div class="user-profile js-user-profile"></div>
    </div>
</div>
