.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-container__left,
.header-container__right {
    display: flex;
    align-items: center;
    height: 100%;
}
