<div>
    <header class="header__header bg-clr_white">
        <nav class="header__nav ts-header__nav">

            <div class="flex-center ts-header__nav-right"></div>
        </nav>
    </header>

    <header class="header__tmp-header_hide bg-clr_white ts-tmp-header">

        <div>
            <nav class="tmp-header__nav ts-tmp-header__nav">
            </nav>
        </div>
    </header>
</div>
