<nav class="header__nav">

    <div class="header__nav--left">
        <div class="header__logo js-header__logo">

        </div>

        <div class="header__middle js-header__middle">
        </div>
    </div>

    <div class="header__nav--right">
        <div class="header__items js-header__items"></div>
        <div class="header__profile js-header__profile"></div>
    </div>
</nav>
