<div class="card-carousel">
    <div class="ts-cards card-carousel__content card-carousel-content card-carousel__content_scroll">

    </div>

    <div class="card-carousel__buttons card-carousel__buttons_position ts-buttons">
        <div class="ts-button-left">
            <button type="button" aria-label="Назад" class="card-carousel__button card-carousel-button card-carousel__button_left">
                <div class="arrow">
                    <img src="/img/icons/chevron-left.svg" alt="" class="arrow__img">
                </div>
            </button>
        </div>
        <div class="ts-button-right">
            <button type="button" aria-label="Вперёд" class="card-carousel__button card-carousel-button card-carousel__button_right">
                <div class="arrow">
                    <img src="/img/icons/chevron-right.svg" alt="" class="arrow__img">
                </div>
            </button>
        </div>
    </div>
</div>
