.card-carousel {
    width: 100%;
    position: relative
}

.card-carousel:hover .card-carousel__buttons {
    visibility: visible
}

/* Start card carousel content */

.card-carousel__content {
    --br-s-s: 3;
    --br-s-m: 4;
    --br-s-l: 3;
    --br-s-xl: 4;
    --br-s-xxl: 4;
    --br-s-xxxl: 4;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    box-sizing: border-box;
}

.card-carousel-content {
    padding: 10px calc(var(--grid-sides) - var(--grid-spacing)/2);
    --rail-columns: var(--br-s-s);
    --count-slides: calc(var(--grid-columns)/var(--rail-columns));
    --all-slide-width: calc(100% - var(--grid-spacing)*var(--count-slides));
    --slide-width: calc(var(--all-slide-width)/var(--count-slides));
}

@media(min-width: 600px) {
    .card-carousel-content {
        --rail-columns:var(--br-s-m);
    }
}

@media(min-width: 960px) {
    .card-carousel-content {
        --rail-columns:var(--br-s-l);
    }
}

@media(min-width: 1320px) {
    .card-carousel-content {
        --rail-columns:var(--br-s-xl);
    }
}

@media(min-width: 1720px) {
    .card-carousel-content {
        --rail-columns:var(--br-s-xxl);
    }
}

@media(min-width: 1920px) {
    .card-carousel-content {
        --rail-columns:var(--br-s-xxxl);
    }
}

.card-carousel__content.card-carousel__content_scroll {
    scrollbar-width: none!important;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.card-carousel__content.card-carousel__content_scroll::-webkit-scrollbar {
    display: none;
}

/* End card carousel content */


/* Start card carousel offset */

.card-carousel__offset {
    --more-mark-offset: 8px;

    width: var(--more-mark-offset);
    flex-shrink: 0;
    visibility: hidden;
}

.card-carousel__offset_margin-right {
    margin-right: calc(var(--more-mark-offset)*-1);
}

.card-carousel__offset_margin-left {
    --more-mark-offset: calc(var(--count-slides) * var(--slide-width));

    margin-left: calc(var(--more-mark-offset)*-1);
}

/* End card carousel offset */


/* Start card carousel buttons */

.card-carousel__buttons {
    visibility: hidden;
    position: absolute;
    top: 47%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 3;
}

@media(min-width: 960px) {
    .card-carousel__buttons_position {
        top: 50%;
    }
}

/* End card carousel buttons */


/* Start card carousel button */

.card-carousel__button_hide {
    opacity: 0;
    pointer-events: none;
}

.card-carousel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background: none;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50px;
    height: 70px;
    transform: translatey(-50%);
    color: rgba(255,255,255,.78);
}

.card-carousel__button:hover {
    cursor: pointer;
}

.card-carousel__button:hover:before {
    transform: scale(1.2)translatez(0);
}

.card-carousel__button:before {
    content: "";
    position: absolute;
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.15)),to(rgba(255,255,255,.15))),-webkit-gradient(linear,left top,left bottom,from(rgba(59,58,62,.48)),to(rgba(59,58,62,.48)));
    background-image: -o-linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15)),-o-linear-gradient(rgba(59,58,62,.48),rgba(59,58,62,.48));
    background-image: linear-gradient(rgba(255,255,255,.15),rgba(255,255,255,.15)),linear-gradient(rgba(59,58,62,.48),rgba(59,58,62,.48));
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    border-radius: 8px;
    -webkit-transition: -webkit-transform.2s;
    transition: -webkit-transform.2s;
    -o-transition: transform.2s;
    transition: transform.2s;
}

@supports not ((-webkit-backdrop-filter: blur(13px))or (backdrop-filter:blur(13px))) {
    .card-carousel__button:before {
        background-color:rgba(59,58,62,.48)
    }
}

.card-carousel-button {
    display: none;
}

@media(hover: hover)and (pointer:fine) {
    .card-carousel-button {
        display: flex;
    }
}

.card-carousel__button_left {
    left: 15px;
}

.card-carousel__button_right {
    right: 15px;
}

.arrow {
    width: 17px;
    height: 34px;

    fill: currentColor;
    pointer-events: none;
}

.arrow__img {
    display: block;
    fill: inherit;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%
}

/* End card carousel button */
