.signUp__title {
    font-size: 22px;
    line-height: 28px;
}

.signUp__description {
    margin-bottom: 20px;
    font-family: "SansSerif", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.signUp-button {
    width: 100%;
}

.link-signIn__text {
    color: #fff;
}

.link-signIn__text:hover {
    color: #95929a;
}
