.card {
    flex-shrink: 0;
    padding: 0 calc(var(--grid-spacing)/2);
    width: var(--slide-width);
}

.card__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

.card__title {
    position: absolute !important;
    overflow: hidden;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Start card figure */

.card__figure {
    --card-top-offset: 6px;
    --card-bottom-offset: 24px;

    position: relative;
    width: 100%;
    height: 100%;
    font-family: "SansSerif", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

@media (min-width: 375px) {
    .card__figure {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 600px) {
    .card__figure {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 1320px) {
    .card__figure {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 1720px) {
    .card__figure {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (min-width: 960px) {
    .card__figure {
        margin-top: var(--card-top-offset);
        margin-bottom: var(--card-bottom-offset);
    }
}

.card__figure_position {
    margin: 0;
    padding: 0;
}

/* End card figure */

/* Start card figure h-radius */

.card__h-radius {
    --radius: 10px
;
}

@media (min-width: 375px) {
    .card__h-radius {
        --radius: 12px
    ;
    }
}

@media (min-width: 600px) {
    .card__h-radius {
        --radius: 14px
    ;
    }
}

@media (min-width: 1320px) {
    .card__h-radius {
        --radius: 16px
    ;
    }
}

@media (min-width: 1920px) {
    .card__h-radius {
        --radius: 20px
    ;
    }
}

@media (min-width: 960px) {
    .card__h-radius:hover .card-content {
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
        transform: scale(1.02) translateZ(0);
    }
}

.card__h-radius .card-content {
    border-radius: var(--radius);
}

.card__h-radius .card-content_border::after {
    border-radius: var(--radius);
}

.card__h-radius .card__picture {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2/3;
}

@supports not (aspect-ratio: 2/3) {
    .card__h-radius .card__picture {
        padding-top: 150%;
    }
}

/* End card figure h-radius */

/* Start card figure w-radius */

.card__v-radius {
    --radius: 8px
;
}

@media (min-width: 375px) {
    .card__v-radius {
        --radius: 10px
    ;
    }
}

@media (min-width: 1320px) {
    .card__v-radius {
        --radius: 12px
    ;
    }
}

@media (min-width: 960px) {
    .card__v-radius:hover .card-content {
        box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.15), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
        transform: scale(1.02) translateZ(0);
    }
}

.card__v-radius .card-content {
    border-radius: var(--radius);
}

.card__v-radius .card-content_border::after {
    border-radius: var(--radius);
}

.card__v-radius .card__picture {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
}

@supports not (aspect-ratio: 16/9) {
    .card__v-radius .card__picture {
        padding-top: 56.25%;
    }
}

.card__v-radius .card__footer {
    margin: 0 calc(var(--radius)/2);
}

/* End card figure w-radius */

.card__container {
    position: relative;
    width: 100%;
}

/* Start card content */

.card__content {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}

.card__content_bg {
    background: rgba(59, 58, 62, 0.48);
}

.card-content {
    transition: -webkit-transform0.25s ease-out, -webkit-box-shadow0.25s ease-out;
    transition: transform0.25s ease-out, box-shadow0.25s ease-out, -webkit-transform0.25s ease-out, -webkit-box-shadow0.25s ease-out;
}

.card-content_after::after {
    content: "";
    position: absolute;
    inset: 0;
    display: block;
    border: 1px solid;
}

.card-content_border::after {
    border-color: rgba(255, 255, 255, 0.1);
}

/* End card content */

/* Start card image */

.card__image {
    color: transparent;
    object-fit: cover;
}

.card__image_position {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

/* End card image */

/* Start card footer */

.card__footer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 4px;
}

@media (min-width: 375px) {
    .card__footer {
        padding-top: 5px;
    }
}

@media (min-width: 600px) {
    .card__footer {
        padding-top: 6px;
    }
}

@media (min-width: 1320px) {
    .card__footer {
        padding-top: 8px;
    }
}

.card__text,
.card-footer__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-footer__description::first-letter {
    text-transform: uppercase;
}

.card-footer__description {
    padding-top: 2px;
    color: rgba(255, 255, 255, 0.4);
}

.card-footer-description {
    overflow: hidden;
    font-family: "SansSerif", sans-serif;
    font-size: 12px;
    line-height: 14px;
    white-space: break-spaces;
}

@media (min-width: 375px) {
    .card-footer-description {
        font-size: 13px;
        line-height: 16px;
    }
}

@media (min-width: 600px) {
    .card-footer-description {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 1320px) {
    .card-footer-description {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 1720px) {
    .card-footer-description {
        font-size: 16px;
        line-height: 20px;
    }
}

/* End card footer */

.d-block {
    display: block;
}

.white-78 {
    color: rgba(255, 255, 255, 0.78);
}
