* {
    margin: 0;
    padding: 0;
    font-family: SansSerif, sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: SansSerif,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255,255,255,.96);
    text-align: left;
    background-color: #000;
    position: relative;
}
