<main class="settings-container">
    <div class="settings">
        <h1 class="settings__title">{{ title }}</h1>
        <div class="settings__content">
            <div class="settings__left-menu-container js-settings__left-menu-container">

            </div>

            <div class="settings__right">
                <div class="settings__form js-settings__form">
                    <!-- This is the same as in signIn and SignUp -->
                    <!-- TODO: move two field in form and add classes for it -->

                    <h2 class="settings-form__title">{{ formTitle }}</h2>
                    <p class="settings-form__description"> {{ description }}</p>
                </div>
            </div>
        </div>
    </div>

</main>
