<main class="settings-container">
    <div class="settings">
        <div class="settings__content js-settings__content">
            <div class="settings__left-menu-container js-settings__left-menu-container">

            </div>

            <div class="settings__middle js-settings__middle">
                <div class="settings__middle-menu-container js-settings__middle-menu-container">

                </div>

                <div class="settings__form js-settings__form">

                </div>
            </div>

            <div class="settings__right js-settings__right">
                <div class="settings-right-error js-settings-right-error"></div>
                <img class="settings__right-avatar js-settings__right-avatar" src="" title="Размер файла не более 15 Мб">
            </div>
        </div>
    </div>

</main>
