<div class="subscription">
    <div class="subscription__main">
        <h2 class="subscription__title">{{ title }}</h2>
        <div class="subscription__description">
            <div class="description__text">
                {{ description }}
            </div>
        </div>
    </div>

<!--    <img src="">-->
</div>