<a {{#if href}} href="{{ href }}" {{/if}} class="article__link article-title article-title_position">
    <div class="article-title__container">
        <h2 class="article-title__text">{{ title }}</h2>
        <img src="/img/icons/chevron-right.svg" alt="" class="article-title__arrow-right article-title__arrow-right_position">
    </div>
</a>
