<a class="actor-item actor-item_white search_hover {{#if forSearch}}search-item_flex{{/if}}" href="/persons/{{ personId }}">
    <h3 class="actor-item__actor">{{ name }}</h3>
    <span class="actor-item__description">{{ description }}</span>
</a>