<div>
    <div class="category__container">
        <div class="category__container__list js-category__container__list">
        </div>

        <div class="category__container__buttons">
            <button class="category__container__button-left">
                <img src="/img/icons/chevron-left.svg" alt="" class="icon-left">
            </button>
            <button class="category__container__button-right">
                <img src="/img/icons/chevron-right.svg" alt="" class="icon-right">
            </button>
        </div>
    </div>
</div>
