.mw-100 {
    border-radius: 20px;

    max-width: 100%;
    width: 100%;
}

.season-text {
    display: grid;
    gap: 10px;
}

.season-text__text {
    text-align: center;

    font-size: 18px;
    line-height: 22px;

    color: rgba(255,255,255,.78);
}

.w-10vh {
    width: 10vw!important;
}
