<div class="space">
    <div class="space__stars">
        <div class="space__error">
            <img class="image-404" src="/img/notfound/404.svg">
            <a href="/" class="home-button">Вернуться на главную</a>
        </div>

        <div class="space__objects">
            <img class="space-object__rocket" src="/img/notfound/rocket.svg">

            <div>
                <img class="space-object__earth" src="/img/notfound/earth.svg">
                <img class="space-object__moon" src="/img/notfound/moon.svg">
            </div>

            <div class="space__astronaut-container">
                <img class="space-object__astronaut" src="/img/notfound/astronaut.svg">
            </div>
        </div>

        <div>
            <div class="space__star"></div>
            <div class="space__star"></div>
            <div class="space__star"></div>
            <div class="space__star"></div>
            <div class="space__star"></div>
        </div>

    </div>
</div>
