<div class="favorites">
    <div class="favorites__content">
        {{#if forFavorites}}
            {{#if isEmpty}}
                <div class="favorites__empty js-favorites__empty">
                    <div class="favorites__empty-message">
                        Oops! Пока что избранное пустое. Но никогда не знаешь, что может появиться в следующий раз!
                    </div>
                    <div class="favorites__empty-message">
                        Сохраняй любимый контент здесь!
                    </div>
                    <img class="favorites__empty-image" src="/img/favorites/nothing.png">
                </div>
            {{/if}}

            {{#unless isEmpty}}
                <div>
                    <h2 class="favorites__content-header">{{ firstTitle }}</h2>
                </div>
                <div class="selection-block">
                    <div class="selection_right">
                        <select class="selection js-selection">
                            <option value="new">Новые</option>
                            <option value="old">Старые</option>
                        </select>
                    </div>
                </div>
            {{/unless}}
        {{/if}}


        <div class="favorites__content-main">
            <div class="grid__content js-content__item">
                
            </div>
        </div>
        <div class="favorites__content-button js-content-button">

        </div>

    </div>

    {{#unless forFavorites}}
    <div class="favorites__actors">
        <h2 class="favorites__actors_header">{{ secondTitle }}</h2>
        <div class="favorites__actors-main">
            <div class="grid__actors js-grid__actors">

            </div>
        </div>

        <div class="favorites__actors-button js-actors-button">

        </div>
    </div>
    {{/unless}}
</div>

