<div class="favorites">
    <div class="favorites__content">
        <div>
            <h2 class="favorites__content-header">{{ firstTitle }}</h2>
        </div>

        <div class="selection-block">
            <div class="selection_right">
                <select class="selection js-selection">
                    <option value="new">Новые</option>
                    <option value="old">Старые</option>
                </select>
            </div>
        </div>

        <div class="favorites__content-main">
            <div class="grid__content js-content__item">
                
            </div>
        </div>
        <div class="favorites__content-button js-content-button">

        </div>
    </div>

    <div class="favorites__actors">
<!--        <h2 class="favorites__actors_header">{{ secondTitle }}</h2>-->
        <div class="favorites__actors-main">
            <div class="grid__actors js-grid__actors">
            </div>
        </div>

        <div class="favorites__actors-button js-actors-button">

        </div>
    </div>
</div>

