<article class="category">
    <div class="seasons">
        {{#if title}}
            <a class="category__link">
                <div class="category__block">
                    <h2 class="category__name">{{ title }}</h2>
                    <img src="/img/icons/chevron-right.svg" alt="" class="icon-right">
                </div>
            </a>
        {{/if}}

        {{#if count}}
            <div class="seasons-container js-number-list">
                <h2 class="seasons__title">Сезоны</h2>
            </div>
        {{/if}}

        <div class="js-items-list">

        </div>
    </div>
</article>
