<form id="{{ formId }}" class="form" {{#if enctype }} enctype="multipart/form-data" {{/if}}>
    <div class="form__content js-form__content"></div>

    <div class="form__footer js-form__footer"></div>
</form>
