<sections class="series about-content">
    <div class="about-content__container">
<!--        <ul class="about-content__actions about-content__actions_scroll about-content-actions">-->
<!--            <li class="about-content__action about-content__action_overflow about-content__action_color about-content__action_active">Описание</li>-->
<!--            <li class="about-content__action about-content__action_overflow about-content__action_color">Варианты просмотра</li>-->
<!--        </ul>-->
        <div class="about-content__content about-content-content white">
            <section class="about-content__grid about-content-grid">
<!--                <div class="about-content-grid__left white-96"></div>-->
                <div class="about-content-grid__right about-content-grid__right_background">
                    <div class="d-flex ts-about-content-header">
                        <div class="about-content-grid__header">
                            <h2 class="about-content-grid__title ts-about-content-title">Поставьте оценку</h2>
                            <p class="about-content-grid__description">Оценки улучшают ваши рекомендации</p>
                        </div>
                    </div>
                    <div class="about-content-grid__content stars stars_color">
                        <div class="stars__container stars__container_position">
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 100%, 97%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">1</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 99.11111111111111%, 91.88888888888889%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">2</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 98.22222222222223%, 86.77777777777777%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">3</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 97.33333333333333%, 81.66666666666667%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">4</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 96.44444444444444%, 76.55555555555556%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">5</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 95.55555555555556%, 71.44444444444444%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">6</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 94.66666666666667%, 66.33333333333333%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">7</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 93.77777777777777%, 61.22222222222222%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">8</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 92.88888888888889%, 56.111111111111114%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">9</span>
                                </button>
                            </div>
                            <div class="stars__star stars-star ts-star" style="--active-color: hsla(260, 92%, 51%, 1);">
                                <button class="stars-star__button">
                                    <div class="stars-star__image">
                                        <svg width="100%" height="100%" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg"><defs>
                                            <filter id="star-voting-filter" x="1.5" y="1.73438" width="33" height="32.5298" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="1"></feOffset><feGaussianBlur stdDeviation="1"></feGaussianBlur><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix><feBlend mode="normal" in2="shape" result="effect1_innerShadow_616_18944"></feBlend></filter><path id="star-voting-icon" d="M18 1.73438C18.571 1.73438 19.0924 2.05848 19.3451 2.57044L23.6314 11.2541L33.217 12.6551C33.7818 12.7377 34.2508 13.1337 34.4269 13.6767C34.603 14.2197 34.4556 14.8156 34.0466 15.2139L27.1118 21.9684L28.7485 31.5108C28.845 32.0736 28.6136 32.6424 28.1516 32.978C27.6897 33.3136 27.0772 33.3578 26.5719 33.092L18 28.5841L9.42822 33.092C8.92285 33.3578 8.31041 33.3136 7.84844 32.978C7.38648 32.6424 7.15511 32.0736 7.25163 31.5108L8.88826 21.9684L1.95344 15.2139C1.54452 14.8156 1.39711 14.2197 1.57317 13.6767C1.74924 13.1337 2.21826 12.7377 2.7831 12.6551L12.3686 11.2541L16.655 2.57044C16.9077 2.05848 17.4291 1.73438 18 1.73438Z"></path></defs><use href="#star-voting-icon" filter="url(#star-voting-filter)"></use><use href="#star-voting-icon" fill="currentColor"></use>
                                        </svg>
                                    </div>
                                    <span class="stars-star__number stars-star__number_position">10</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</sections>
