<div class="carousel">
    <button class="carousel__chevron-left">
        <img src="/img/icons/chevron-left.svg">
    </button>

    <button class="carousel__chevron-right">
        <img src="img/icons/chevron-right.svg">
    </button>
</div>
