<div class="carousel js-carousel">
    <button class="carousel__chevron-left">
        <img src="/img/icons/chevron-left.svg">
    </button>

<!--    <ul class="carousel__list"></ul>-->

    <button class="carousel__chevron-right">
        <img src="img/icons/chevron-right.svg">
    </button>
</div>
