<div class="carousel">
    <button class="carousel__chevron-left js-chevron-left" data-action="left">
        <img src="/img/icons/chevron-left.svg">
    </button>

    <button class="carousel__chevron-right js-chevron-right" data-action="right">
        <img src="img/icons/chevron-right.svg">
    </button>
</div>
