.search-view {
    position: absolute;
    left: 0;
    right: 0;
    bottom: unset;
    z-index: 1000 !important;
    overflow: hidden;
    margin-top: 33px;
    padding-top: 30px;
    width: 100%;
    height: auto;
}

.search-view_blur {
    position: fixed;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(10px); /* Степень размытия */
}

.search-view_back-color {
    background-color: #16032b;
}

.search-view__search-result {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1150px;
}

.search-result__content {
    margin: 0 -10px 35px;
}

.header__title {
    display: inline-block;
    margin: 0 10px 20px;
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
}

.header__title_color {
    color: rgba(255, 255, 255, 0.96);
}

.content__main {
    display: flex;
    flex-wrap: wrap;
}

.search-result__actors {
    margin: 0 -10px 35px;
}

.actors__header {
    margin: 15px 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.56);
}

.actors__main {
    display: flex;
    flex-wrap: wrap;
}

.input-field__search {
    border-bottom: unset;
    color: #fff;
    background-color: unset;
}
