<div>
    <div class="search-view search-view_back-color">
        <div class="search-view__search-result">
            <div class="search-result__content">
                <div class="content__header">
                    <div class="header__title header__title_color">
                        {{ firstTitle }}
                    </div>
                </div>
                <div class="content__main js-content__main">

                </div>
            </div>
            <div class="search-result__actors">
                <div class="actors__header">
                    <h4>{{ secondTitle }}</h4>
                </div>
                <div class="actors__main js-actors__main">

                </div>
            </div>
        </div>
    </div>
    <div class="search-view_blur"></div>
</div>